/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
    /* LAYOUT
    /*******************************************/
img {
  display: block;
  margin: 0 auto;
}

/******************************************
    /* ADDITIONAL STYLES
    /*******************************************/

/*start of first section */

/* header,
  main {
  } */

.header {
  padding: 0;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #848b79;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  margin: auto;
}

.navHeader {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  font-size: 18px;
  color: white;
  list-style-type: none;
}

/*styling links */

.header a {
  text-decoration: none; /* Remove underlines */
  color: white;
  font-weight: bold; /* Make the link text bold */
}

.header a:hover {
  text-decoration: underline; /* Add underlines on hover */
}

.resterName {
  font-size: 25px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

/* carousel */

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
}
