nav,
ul {
  display: flex;
  justify-content: space-around;
}

ul {
  flex-basis: 70%;
  font-size: 10px;
}

.header ul {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*styling links */

.header a {
  text-decoration: none; /* Remove underlines */
  color: black; /* Change link color */
  font-weight: bold; /* Make the link text bold */
}

.header a:hover {
  text-decoration: underline; /* Add underlines on hover */
  color: #ff5733; /* Change link color on hover */
}
