/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
    /* LAYOUT
    /*******************************************/
img {
  display: block;
  margin: 0 auto;
}

/******************************************
    /* ADDITIONAL STYLES
    /*******************************************/

/*start of first section */

/* header,
  main {
  } */

nav,
ul {
  display: flex;
  justify-content: space-around;
}

ul {
  flex-basis: 100%;
  font-size: 15px;
}

.header ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  /* //background-color: #898a03; */
  background-color: #6c410a;
  padding-left: 20px;
  padding-right: 20px;
}

/*styling links */

.header a {
  text-decoration: none; /* Remove underlines */
  color: black; /* Change link color */
  font-weight: bold; /* Make the link text bold */
}

.header a:hover {
  text-decoration: underline; /* Add underlines on hover */
}

.resterName {
  font-size: 20px;
  text-decoration: none;
}
